* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header styled as required*/
header{
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 0;
    margin: 20px auto;
}

.search{
    background-color: rgb(245, 245, 245);
}

/*borders the current weather conditions display section*/
.currentWeather{
    border: 1px solid lightgrey;
    border-radius: 1%;
}

/* changes the h3 display to inline to allow the icon to be displayed in the same line alongside city name and date*/
#cityDate{
    display:inline;
}

#UVIndex{
    padding: 5px;
    border-radius: 5%;
}

/* styled the forecast divs as required*/
.blue-box{
    background-color: rgb(52, 120, 255);
    color: white;
    border-radius:5%;
}

p{
    font-size:12px;
}